
<div class="left-Menu">
    <div class="left-Menu-Header">
        <div class="left-Menu-Header-Logo">
            <img class="middleV" src="assets/images/papaJohnsLogo.svg">
        </div>
        <div class="left-Menu-Header-Score">
            <div class="middleV floatR pr10">
                <div class="f33">
                    79
                </div>
                <div class="f11">
                    SCORE
                </div>
            </div>
        </div>
    </div>
    <div class="left-Menu-List-Drivers">
        <div class="left-Menu-Driver-Properties">
            <div class="middleV floatL">
                Sign / Battery / Driver / Trips
            </div>
            <div class="middleV floatR wrapper mr10" style="width:108px">
                <div class="floatL middleH">
                    <img src="assets/images/current.svg">
                </div>
                <div class="floatL middleH">
                    <img src="assets/images/last.svg">
                </div>
                <div class="floatL middleH">
                    <img src="assets/images/shift.svg">
                </div>
            </div>
        </div>
        <div class="left-Menu-Drivers">
            <div class="left-Menu-Drivers-Numbers">
                <div class="left-Munu-Drivers-Panel">
                    <div class="middleV floatL pt4">
                        <img src="assets/images/batteryCirclePurple.svg">
                        <div class="left-Menu-Driver-Circle purple">
                            <div class="middleV ml5">
                                11   
                            </div>
                        </div> 
                    </div>
                    <div class="middleV ml10 floatL">
                        <div class="f15 fw500 fcolorMain">
                            Zeki Jusufoski
                        </div>
                        <div class="f11 fcolorSecond">
                            Voin Drashkovikj 5 Skopje 1000
                        </div>
                    </div>
                    <div class="middleV floatR wrapper" style="width:108px">
                        <div class="floatL middleH scoreCircle">
                            <span class="ml5 f14">
                                89
                            </span>
                        </div>
                        <div class="floatL middleH scoreCircle">
                            <span class="ml5 f14">
                                76
                            </span>
                        </div>
                        <div class="floatL middleH scoreCircle">
                            <span class="ml5 f14">
                                96
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="left-Menu-Drivers">
                <div class="left-Menu-Drivers-Numbers">
                    <div class="left-Munu-Drivers-Panel">
                        <div class="middleV floatL pt4">
                            <img src="assets/images/batteryCircleGreen.svg">
                            <div class="left-Menu-Driver-Circle green">
                                <div class="middleV ml5">
                                    12   
                                </div>
                            </div> 
                        </div>
                        <div class="middleV ml10 floatL">
                            <div class="f15 fw500 fcolorMain">
                                Hasan Buklla
                            </div>
                            <div class="f11 fcolorSecond">
                                M.Tito 55/12 Tetovo
                            </div>
                        </div>
                        <div class="middleV floatR wrapper" style="width:108px">
                            <div class="floatL middleH scoreCircle">
                                <span class="ml5 f14">
                                    76
                                </span>
                            </div>
                            <div class="floatL middleH scoreCircle">
                                <span class="ml5 f14">
                                    80
                                </span>
                            </div>
                            <div class="floatL middleH scoreCircle">
                                <span class="ml5 f14">
                                    81
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-Menu-Drivers">
                    <div class="left-Menu-Drivers-Numbers">
                        <div class="left-Munu-Drivers-Panel">
                            <div class="middleV floatL pt4">
                                <img src="assets/images/batteryCircleOrange.svg">
                                <div class="left-Menu-Driver-Circle orange">
                                    <div class="middleV ml5">
                                        13   
                                    </div>
                                </div> 
                            </div>
                            <div class="middleV ml10 floatL">
                                <div class="f15 fw500 fcolorMain">
                                    Mensur Jusufi
                                </div>
                                <div class="f11 fcolorSecond">
                                    Bordis Kidric Tetovo
                                </div>
                            </div>
                            <div class="middleV floatR wrapper" style="width:108px">
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        69
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        88
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        99
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-Menu-Drivers">
                    <div class="left-Menu-Drivers-Numbers">
                        <div class="left-Munu-Drivers-Panel">
                            <div class="middleV floatL pt4">
                                <img src="assets/images/batteryCircleGrey.svg">
                                <div class="left-Menu-Driver-Circle grey">
                                    <div class="middleV ml5">
                                        14   
                                    </div>
                                </div> 
                            </div>
                            <div class="middleV ml10 floatL">
                                <div class="f15 fw500 fcolorMain">
                                    Semi Nebiu
                                </div>
                                <div class="f11 fcolorSecond">
                                    Lenin Tetovo 1200
                                </div>
                            </div>
                            <div class="middleV floatR wrapper" style="width:108px">
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        70
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        79
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        90
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-Menu-Drivers">
                    <div class="left-Menu-Drivers-Numbers">
                        <div class="left-Munu-Drivers-Panel">
                            <div class="middleV floatL pt4">
                                <img src="assets/images/batteryCirclePink.svg">
                                <div class="left-Menu-Driver-Circle pink">
                                    <div class="middleV ml5">
                                        15   
                                    </div>
                                </div> 
                            </div>
                            <div class="middleV ml10 floatL">
                                <div class="f15 fw500 fcolorMain">
                                    Besar Ahmeti
                                </div>
                                <div class="f11 fcolorSecond">
                                    Gjoce Stojcheski Tetovo 1200
                                </div>
                            </div>
                            <div class="middleV floatR wrapper" style="width:108px">
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        89
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        76
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        96
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-Menu-Drivers">
                    <div class="left-Menu-Drivers-Numbers">
                        <div class="left-Munu-Drivers-Panel">
                            <div class="middleV floatL pt4">
                                <img src="assets/images/batteryCircleLightBlue.svg">
                                <div class="left-Menu-Driver-Circle lightblue">
                                    <div class="middleV ml5">
                                        16   
                                    </div>
                                </div> 
                            </div>
                            <div class="middleV ml10 floatL">
                                <div class="f15 fw500 fcolorMain">
                                    Besnik Ameti
                                </div>
                                <div class="f11 fcolorSecond">
                                    M.Tito 55/12
                                </div>
                            </div>
                            <div class="middleV floatR wrapper" style="width:108px">
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        71
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        88
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        92
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-Menu-Drivers">
                    <div class="left-Menu-Drivers-Numbers">
                        <div class="left-Munu-Drivers-Panel">
                            <div class="middleV floatL pt4">
                                <img src="assets/images/batteryCircleYellow.svg">
                                <div class="left-Menu-Driver-Circle yellow">
                                    <div class="middleV ml5">
                                        17   
                                    </div>
                                </div> 
                            </div>
                            <div class="middleV ml10 floatL">
                                <div class="f15 fw500 fcolorMain">
                                   Arton Bejtuli
                                </div>
                                <div class="f11 fcolorSecond">
                                    Block 70 Tetovo
                                </div>
                            </div>
                            <div class="middleV floatR wrapper" style="width:108px">
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        89
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        76
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        96
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-Menu-Drivers">
                    <div class="left-Menu-Drivers-Numbers">
                        <div class="left-Munu-Drivers-Panel">
                            <div class="middleV floatL pt4">
                                <img src="assets/images/batteryCircleDarkBlue.svg">
                                <div class="left-Menu-Driver-Circle darkblue">
                                    <div class="middleV ml5">
                                        18   
                                    </div>
                                </div> 
                            </div>
                            <div class="middleV ml10 floatL">
                                <div class="f15 fw500 fcolorMain">
                                    Abdulla Buklla
                                </div>
                                <div class="f11 fcolorSecond">
                                    Blagoja Toska 212 Tetovo 1200
                                </div>
                            </div>
                            <div class="middleV floatR wrapper" style="width:108px">
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        90
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        82
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        77
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-Menu-Drivers">
                    <div class="left-Menu-Drivers-Numbers">
                        <div class="left-Munu-Drivers-Panel">
                            <div class="middleV floatL pt4">
                                <img src="assets/images/batteryCircleTirquese.svg">
                                <div class="left-Menu-Driver-Circle tirquase">
                                    <div class="middleV ml5">
                                        19   
                                    </div>
                                </div> 
                            </div>
                            <div class="middleV ml10 floatL">
                                <div class="f15 fw500 fcolorMain">
                                    Ilir Iliri
                                </div>
                                <div class="f11 fcolorSecond">
                                    Ivo Ribar Lola Tetovo 1200
                                </div>
                            </div>
                            <div class="middleV floatR wrapper" style="width:108px">
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        96
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        86
                                    </span>
                                </div>
                                <div class="floatL middleH scoreCircle">
                                    <span class="ml5 f14">
                                        97
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
        
    </div>
    
</div>
<agm-map [latitude]="latitude" [longitude]="longitude" [styles]="styles">
    
</agm-map>
  

<router-outlet></router-outlet>
