
.left-Menu{
    height: 100%;
    width: 380px;
    background-color: rgb(245, 245, 245);
    z-index: 2;
    position: absolute;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

}
.left-Menu-Header{
    height: 80px;
    width: 100%;
    background-color: #AB131B;
}
.left-Menu-Header-Logo{
    width: 200px;
    padding-left: 10px;
    height: 100%;
    float: left;
}
.left-Menu-Header-Score{
    height: 100%;
}
.middleV {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
agm-map{
    height: 100%;
}
